{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Pokedex</title>
</head>
<body>
    <h1>Pokedex</h1>
    <div class="card-input" id="dexter-input">
        <div class="card-body">
            <h3 class="card-title">Ingresa un Pokemon</h3>
            <div class="card-content">
                <form action="" id="poke-form">
                    <label for="generacion">Selecciona una region:</label>
                    <select id="generacion" class="ingreso">
                    {% for gen in generacion.values %}
                    <option value="{{ gen.id }}">{{ gen.nombre }}</option>
                    {% endfor %}
                    </select>
                    <br>
                    <label for="poke-list">Selecciona o escribe un Pokémon:</label>
                    <input type="text" id="poke-list" list="pokemon-list" class="ingreso">
                    <datalist id="pokemon-list">
                    </datalist>
                    <footer>
                    <input type="submit" class="input-btn" value="Enviar" name="send" id="enviar-poke">
                    </footer>
                </form>
            </div>
        </div>
    </div> 
    <div class="card-info" id="dexter">
        <div class="card-body">
            <div class="card-title">
            <h3 id="poke-name" class="pokemon-title">Nombre</h3>
            <img src="" alt="" id="poke-sprite">
            </div>
            <ul>
                <label for="">N°:</label>
                <li id="poke-number" class="description"></li>
                <label for="">Tipo:</label>
                <li id="poke-type" class="description"></li>
                <label for="">Región:</label>
                <li id="poke-region" class="description"></li>
                <label for="">Habilidades:</label>
                <li id="poke-ability" class="description"></li>
                <label for="">Pokedex original:</label>
                <li id="poke-dex" class="description"></li>
                
            </ul>
            <div class="card-content">
                
            </div>
        </div>
    </div>
    <footer class="foot"><a href="https://www.linkedin.com/in/esteban-santibanez-bravo/" target="_blank">Esteban Santibáñez</a></footer>
</body>
<script>
    const backend = "{% url 'index' %}";
    const CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="{% static 'js/pokedex.js' %}" type="module" >
</script>
</html>